<!DOCTYPE html>
<html>
  <head>
    <title>Tinterest</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
      window.logo = "<%= image_url('logo_no_background.png')%>"
      window.crow1 = "<%= image_url('1.jpg')%>"
      window.crow2 = "<%= image_url('4.jpg')%>"
      window.crow3 = "<%= image_url('5.jpg')%>"
    </script>
    <script src="https://kit.fontawesome.com/32c1d9b1cc.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" type="image/png" href="<%= image_url('small sized logo')%>">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
